.ant-menu-item:last-child {
  margin-top: auto !important;
}

.ant-menu-item:last-child button {
  background-color: #ff4d4f;   
  color: white;
  border: none;
  width: 100%;
  padding: 4px 0;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 18px;
}

.ant-menu-item:last-child button:hover {
  background-color: #d9363e;   
}