.ant-menu-item:last-child {
  margin-top: auto !important;
}

.ant-menu-item:last-child button {
  background-color: #ff4d4f;   
  color: white;
  border: none;
  width: 100%;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 18px;
}

.ant-menu-item:last-child button:hover {
  background-color: #d9363e;   
}




.swim-text {
  background: linear-gradient(
    90deg,
    #ef4444,
    #fb7185,
    #f43f5e,
    #ef4444
  );
  background-size: 300% 300%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: swimGradient 4s ease-in-out infinite;
}

@keyframes swimGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
