/* Purani wali delete kar do */
@keyframes horizontal-scroll-d {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-horizontal-scroll-d {
  display: flex;
  width: max-content; /* ye rakhna zaroori hai */
  animation: horizontal-scroll-d linear infinite;
  /* duration hum JS mein set kar rahe hain, yahan nahi likhna */
}





@keyframes vertical-smooth-scroll {
  0% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-25%);

  }

  50% {
    transform: translateY(-25%);

  }

  90% {
    transform: translateY(-50%);
 
  }

  100% {
    transform: translateY(-50%);

  }
}

.animate-vertical-scroll {
  animation: vertical-smooth-scroll 12s ease-in-out infinite;
}



.scroll-card {
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(59, 130, 246, 0.35);
  border-radius: 12px;
  padding: 12px;
  font-size: 15px;
  font-weight: 600;
  color: #1e3a8a;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}


.slider-img {
    transition: opacity 4s ease-in-out;
}



