@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
}


.dashBtn {
  border: 2px solid;
  padding: 6px 8px !important;
  border-radius: 5px;
  background-color: rgb(60, 64, 160);
  color: white;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media only screen and (min-width : 600px) {
  .dashBtn {
    border: 2px solid;
    padding: 6px 10px !important;
    border-radius: 5px;
    background-color: rgb(60, 64, 160);
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

}

.dashBtn:hover {
  background-color: rgba(12, 17, 170, 0.623);
}

.themeBoxShadow {
  box-Shadow: 1px 3px 10px 1px rgba(0, 0, 0, 0.15);
  /* box-Shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.15); */
}



@layer utilities {

  /* Custom scrollbar styles */
  .custom-scrollbar::-webkit-scrollbar {
    width: 16px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    /* background: transparent; */
    background-color: red;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #b31212;
  }

  /* Hide scroll arrows (Chrome, Edge, Safari) */
  .custom-scrollbar::-webkit-scrollbar-button,
  .custom-scrollbar::-webkit-scrollbar-button:start:decrement,
  .custom-scrollbar::-webkit-scrollbar-button:end:increment {
    display: none;
    visibility: none;
    height: 0;
    width: 0;
  }

  /* For Firefox */
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;

  }


}
